<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
        table {
            width: 60%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            padding: 10px;
            border: 1px solid #333;
            text-align: left;
        }
        th {
            background-color: #ddd;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
<h2>Clientes cadastrados</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Telefone</th>
            </tr>
        </thead>

        <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nome }}</td>
                <td>{{ c.idade }}</td>
                <td>{{ c.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
</body>
</html>